In [1]:
import pandas as pd
import numpy as np
import warnings

warnings.filterwarnings('ignore','DeprecationWarning')

In [2]:
movies_df = pd.read_csv('//home/kailash/Learning/Data Science/Projects/Movie Recommendation System/movielens dataset/movies.csv')

In [3]:
movies_df.head(10)

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy
5,6,Heat (1995),Action|Crime|Thriller
6,7,Sabrina (1995),Comedy|Romance
7,8,Tom and Huck (1995),Adventure|Children
8,9,Sudden Death (1995),Action
9,10,GoldenEye (1995),Action|Adventure|Thriller

In [4]:
rating_df = pd.read_csv('//home/kailash/Learning/Data Science/Projects/Movie Recommendation System/movielens dataset/ratings.csv')

In [5]:
rating_df.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [6]:
master_df = pd.merge(movies_df,rating_df,on='movieId')

In [7]:
master_df[master_df.duplicated()]

Empty DataFrame
Columns: [movieId, title, genres, userId, rating, timestamp]
Index: []

In [8]:
master_df.isnull().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
timestamp    0
dtype: int64

In [9]:
master_df.head(10)

,movieId,title,genres,userId,rating,timestamp
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,3,4.0,944919407
1,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,6,5.0,858275452
2,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,8,4.0,833981871
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,10,4.0,943497887
4,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,11,4.5,1230858821
5,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,12,4.0,859063718
6,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,13,4.0,849082891
7,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,14,4.5,1225311239
8,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,16,3.0,990969772
9,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,19,5.0,855176628

In [13]:
movies_df = movies_df.merge(pd.DataFrame(movies_count), left_on='title', right_index=True).reset_index()

In [14]:
movies_df.columns = ["index", "movieId", "title", "genres", "review counts"]

In [15]:
movies_df.head()

,index,movieId,title,genres,review counts
0,0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,49695
1,1,2,Jumanji (1995),Adventure|Children|Fantasy,22243
2,2,3,Grumpier Old Men (1995),Comedy|Romance,12735
3,3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,2756
4,4,5,Father of the Bride Part II (1995),Comedy,12161

In [19]:
# Break up the big genre string into a string array
movies_df['genres'] = movies_df['genres'].str.split('|')
# Convert genres to string value
movies_df['genres'] = movies_df['genres'].fillna("").astype('str')

In [20]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [81]:
movies_df.head(5)

,index,movieId,title,genres,review counts
0,0,1,Toy Story (1995),"['Adventure', 'Animation', 'Children', 'Comedy...",49695
1,1,2,Jumanji (1995),"['Adventure', 'Children', 'Fantasy']",22243
2,2,3,Grumpier Old Men (1995),"['Comedy', 'Romance']",12735
3,3,4,Waiting to Exhale (1995),"['Comedy', 'Drama', 'Romance']",2756
4,4,5,Father of the Bride Part II (1995),['Comedy'],12161

In [22]:
tf = TfidfVectorizer(analyzer='word',ngram_range=(1, 2),min_df=0, stop_words='english')

In [23]:
tfidf_matrix = tf.fit_transform(movies_df["genres"])

In [24]:
tfidf_matrix.shape

(26745, 189)

In [80]:
tf.vocabulary_

{'adventure': 19,
 'animation': 37,
 'children': 51,
 'comedy': 65,
 'fantasy': 118,
 'adventure animation': 20,
 'animation children': 38,
 'children comedy': 52,
 'comedy fantasy': 69,
 'adventure children': 21,
 'children fantasy': 56,
 'romance': 172,
 'comedy romance': 75,
 'drama': 106,
 'comedy drama': 68,
 'drama romance': 113,
 'action': 0,
 'crime': 80,
 'thriller': 180,
 'action crime': 5,
 'crime thriller': 91,
 'action adventure': 1,
 'adventure thriller': 34,
 'horror': 138,
 'comedy horror': 71,
 'adventure romance': 32,
 'crime drama': 82,
 'action comedy': 4,
 'comedy crime': 66,
 'drama thriller': 115,
 'mystery': 157,
 'drama horror': 109,
 'horror mystery': 141,
 'mystery thriller': 161,
 'sci': 178,
 'fi': 129,
 'drama sci': 114,
 'sci fi': 179,
 'children drama': 55,
 'adventure drama': 25,
 'drama fantasy': 107,
 'fantasy mystery': 123,
 'mystery sci': 160,
 'fi thriller': 131,
 'imax': 147,
 'romance imax': 173,
 'documentary': 94,
 'documentary imax': 98,
 'war': 184,
 'drama war': 116,
 'adventure fantasy': 26,
 'musical': 149,
 'drama musical': 111,
 'musical romance': 152,
 'crime mystery': 88,
 'action drama': 7,
 'drama mystery': 112,
 'action sci': 15,
 'horror thriller': 144,
 'action thriller': 16,
 'horror romance': 142,
 'adventure comedy': 22,
 'crime romance': 89,
 'comedy musical': 73,
 'mystery romance': 159,
 'drama imax': 110,
 'romance war': 176,
 'comedy war': 78,
 'adventure mystery': 31,
 'thriller war': 182,
 'western': 187,
 'action romance': 14,
 'romance western': 177,
 'film': 134,
 'noir': 164,
 'crime film': 84,
 'film noir': 135,
 'noir mystery': 167,
 'adventure crime': 23,
 'crime sci': 90,
 'action children': 3,
 'fantasy horror': 120,
 'horror sci': 143,
 'adventure sci': 33,
 'comedy sci': 76,
 'fantasy romance': 124,
 'war western': 186,
 'thriller western': 183,
 'noir thriller': 170,
 'crime horror': 85,
 'drama film': 108,
 'noir romance': 168,
 'crime fantasy': 83,
 'fantasy thriller': 126,
 'children romance': 61,
 'musical imax': 150,
 'comedy western': 79,
 'romance thriller': 175,
 'action fantasy': 8,
 'comedy documentary': 67,
 'comedy thriller': 77,
 'adventure documentary': 24,
 'drama western': 117,
 'comedy mystery': 74,
 'fantasy sci': 125,
 'action mystery': 13,
 'fantasy musical': 122,
 'adventure western': 36,
 'animation horror': 45,
 'action horror': 10,
 'romance sci': 174,
 'documentary drama': 95,
 'mystery western': 163,
 'animation comedy': 39,
 'animation sci': 49,
 'documentary romance': 101,
 'musical thriller': 154,
 'children musical': 59,
 'adventure horror': 28,
 'documentary musical': 99,
 'musical war': 155,
 'action western': 18,
 'fantasy film': 119,
 'adventure film': 27,
 'noir sci': 169,
 'fantasy war': 127,
 'fi western': 133,
 'children sci': 62,
 'action animation': 2,
 'children crime': 53,
 'fantasy western': 128,
 'musical western': 156,
 'fi war': 132,
 'horror western': 146,
 'animation musical': 46,
 'action war': 17,
 'comedy film': 70,
 'horror musical': 140,
 'musical sci': 153,
 'animation drama': 42,
 'noir horror': 165,
 'adventure war': 35,
 'adventure musical': 30,
 'animation fantasy': 43,
 'fi imax': 130,
 'horror imax': 139,
 'musical mystery': 151,
 'crime musical': 87,
 'documentary war': 104,
 'children horror': 57,
 'children western': 64,
 'documentary horror': 97,
 'children mystery': 60,
 'thriller imax': 181,
 'crime documentary': 81,
 'mystery war': 162,
 'noir musical': 166,
 'crime western': 93,
 'fantasy imax': 121,
 'horror war': 145,
 'action film': 9,
 'animation crime': 40,
 'animation mystery': 47,
 'action documentary': 6,
 'animation documentary': 41,
 'documentary mystery': 100,
 'children documentary': 54,
 'crime imax': 86,
 'documentary sci': 102,
 'noir war': 171,
 'animation film': 44,
 'comedy imax': 72,
 'war imax': 185,
 'children war': 63,
 'animation war': 50,
 'documentary fantasy': 96,
 'children imax': 58,
 'documentary thriller': 103,
 'documentary western': 105,
 'action musical': 12,
 'western imax': 188,
 'genres': 136,
 'listed': 148,
 'genres listed': 137,
 'mystery imax': 158,
 'adventure imax': 29,
 'crime war': 92,
 'action imax': 11,
 'animation romance': 48}

In [52]:
from sklearn.metrics.pairwise import linear_kernel
cosine_similarity = linear_kernel(tfidf_matrix, tfidf_matrix)

In [28]:
cosine_similarity.shape

(26745, 189)

In [29]:
titles = movies_df["title"]

In [67]:
indices = pd.Series(movies_df.index, index=movies_df['title'])

In [68]:
indices.head()

title
Toy Story (1995)                      0
Jumanji (1995)                        1
Grumpier Old Men (1995)               2
Waiting to Exhale (1995)              3
Father of the Bride Part II (1995)    4
dtype: int64

In [98]:
def movie_recommend(title):
    idx = indices[title]
    similar_scores = list(enumerate(cosine_similarity[idx]))
    similar_scores = sorted(similar_scores, key=lambda x: x[1], reverse=True)
    similar_scores = similar_scores[1:21]
    movie_indices = [i[0] for i in similar_scores]
    return titles.iloc[movie_indices]

In [99]:
movie_recommend('Titanic (1997)').head(20)

24                            Leaving Las Vegas (1995)
27                                   Persuasion (1995)
34                                   Carrington (1995)
45                How to Make an American Quilt (1995)
48                        When Night Is Falling (1995)
73                                 Bed of Roses (1996)
82     Once Upon a Time... When We Were Colored (1995)
84                           Angels and Insects (1995)
103              Bridges of Madison County, The (1995)
129                           Frankie Starlight (1995)
138                       Up Close and Personal (1996)
177                                    Mad Love (1995)
180                     Moonlight and Valentino (1995)
189                         Scarlet Letter, The (1995)
200                               Total Eclipse (1995)
205                       Walk in the Clouds, A (1995)
213                              Before Sunrise (1995)
219                           Circle of Friends (1995)
246                            Immortal Beloved (1994)
267                                 Love Affair (1994)
Name: title, dtype: object

In [100]:
movie_recommend('Fast and the Furious, The (2001)').head(20)

22                                       Assassins (1995)
163                     Die Hard: With a Vengeance (1995)
183                                       Net, The (1995)
285                           Natural Born Killers (1994)
475                                 Judgment Night (1993)
587                                         Batman (1989)
1019                                      Die Hard (1988)
1689                                     Hard Rain (1998)
1702                      Replacement Killers, The (1998)
1722                                 U.S. Marshals (1998)
1872                        French Connection, The (1971)
2196                                         Ronin (1998)
2658                                      No Mercy (1986)
2873                      Someone to Watch Over Me (1987)
3657                                         Shaft (2000)
3676                                           F/X (1986)
3677    F/X2 (a.k.a. F/X 2 - The Deadly Art of Illusio...
3974                                         Coffy (1973)
4260                                   Point Break (1991)
4278                     Fast and the Furious, The (2001)
Name: title, dtype: object

In [101]:
movie_recommend('Matrix, The (1999)').head(20)

75              Screamers (1995)
170       Johnny Mnemonic (1995)
283     Nemesis 2: Nebula (1995)
334            Virtuosity (1995)
375               Timecop (1994)
537          Blade Runner (1982)
681                  Solo (1996)
736          Arrival, The (1996)
1214      Terminator, The (1984)
1801             Godzilla (1998)
2489          Matrix, The (1999)
2518             eXistenZ (1999)
3440             Predator (1987)
3610           Predator 2 (1990)
3891           Red Planet (2000)
3896         6th Day, The (2000)
4352              Outland (1981)
4462            They Live (1988)
4795             One, The (2001)
5089            Hangar 18 (1980)
Name: title, dtype: object

In [105]:
master_df[master_df["title"].str.contains("3 Idiots")].head()

,movieId,title,genres,userId,rating,timestamp
19445480,73881,3 Idiots (2009),Comedy|Drama|Romance,176,5.0,1426774606
19445481,73881,3 Idiots (2009),Comedy|Drama|Romance,337,4.5,1281212749
19445482,73881,3 Idiots (2009),Comedy|Drama|Romance,348,4.5,1314585066
19445483,73881,3 Idiots (2009),Comedy|Drama|Romance,786,3.5,1421289874
19445484,73881,3 Idiots (2009),Comedy|Drama|Romance,843,0.5,1422134441

In [104]:
movie_recommend("3 Idiots (2009)")

10                  American President, The (1995)
51                         Mighty Aphrodite (1995)
57               Postman, The (Postino, Il) (1994)
92                          Beautiful Girls (1996)
193                 Something to Talk About (1995)
221                        Don Juan DeMarco (1995)
229    Eat Drink Man Woman (Yin shi nan nu) (1994)
278                           Nobody's Fool (1994)
347                        Corrina, Corrina (1994)
355                     I Like It Like That (1994)
357                  It Could Happen to You (1994)
368                           Reality Bites (1994)
535                    Sleepless in Seattle (1993)
538                              Son in Law (1993)
741                    Month by the Lake, A (1995)
791                     Walking and Talking (1996)
824                                    Emma (1996)
839                                 Tin Cup (1996)
877                           Twelfth Night (1996)
883                 Philadelphia Story, The (1940)
Name: title, dtype: object